body{
    margin: 0px;
}
.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}
#box1{
    font-family: 'Roboto', 'Noto Sans';
    background-color: rgb(230, 3, 3);
    margin: auto;
}
#box2{
    font-family: 'Roboto', 'Noto Sans';
    background-color: rgb(55, 0, 255);
}
